@charset "UTF-8";
/* =======================================================
*
* 	Splash  marionflipo.com 
*	by studiojosette.com
*
* ======================================================= */
html,
body,
.col-md-12,
.row {
  height: 100%; }

.row > div {
  height: 100%; }

.row {
  position: relative; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

header {
  height: 100%; }

.fill {
  min-height: 100%;
  height: 100%; }

.left {
  background: url(../../assets/intro-bg.jpg) no-repeat left top;
  background-color: #000000;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain; }

.red {
  margin-top: 50vh;
  /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); }

.logo {
  position: relative; }

.logo img {
  width: 50%;
  max-width: 400px;
  margin: auto; }

H1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase; }

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0.1;
  transition: all 0.5s;
  margin-left: 10px; }
